mathematics_note.synctex.gz
bibliography.bib
mathematics_note.bbl
.DS_Store
dot.ist
command.txt
mathematics_note.aux
mathematics_note.toc
mathematics_note.run.xml
mathematics_note.log
mathematics_note.ind
mathematics_note.ilg
mathematics_note.idx
mathematics_note.bcf
